body {
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%
  }

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.st0 {
    fill:none;
}

.st1 {
    fill: whitesmoke;
}

.st2 {
    fill:whitesmoke;
    stroke:#B3B7BC;
    stroke-miterlimit:10;
}

.st3{
    fill:none;
    stroke:#34568B;
    stroke-width:49.373;
    stroke-miterlimit:10;
}

.button{
    cursor: pointer;
}

.button:hover{
    opacity: 0.7;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    transition: filter 0.15s ,opacity 0.15s;
}

.button:active{
    opacity: 0.5;
}

.title {
    animation: fade-in 3s;
}

.button {
    animation: fade-in 5s;
}

@keyframes fade-in
{
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.st3 {
    stroke-dasharray: 1110;
    stroke-dashoffset: 1000;
    animation: dash 3s linear forwards;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }